nav {
  a {
    color: black;
    text-decoration: none;
  }
}

.navbar-brand {
  background-color: $colour-primary;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.bg-body-tertiary {
  margin-bottom: 50px;
}
