// custom

$colour-primary: #2aabe8;
$colour-secondary: #2ae8e8;

$theme-colors: (
  "primary": $colour-primary,
  "dark": $colour-primary,
);

$headings-font-family: "Montserrat', sans-serif;";
$font-family-base: "Roboto', sans-serif";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./partials/variables";
@import "./partials/layout/nav";
@import "./partials/layout/footer";
@import "./partials/pages/home";
@import "./partials/components/form";
@import "./partials/components/buttons";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

hr {
  margin: 50px auto;
  max-width: 600px;
}
