.banner-img {
  max-width: 800px;
}

.container-profile {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.avatar-img {
  max-width: 100px;
}

.profile-details {
  margin: 40px 0;
}
