.card-container {
  max-width: 600px;
  margin: 20px auto;
}

.profile-card {
  max-height: 550px;
  margin-top: 20px;
}

.container-loggedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
}

@media (min-width: 1000px) {
  .container-loggedin {
    flex-direction: row;
  }
}
