.btn {
  border-radius: 20px;
  background-image: linear-gradient(#4ab8eb, #4ab8eb);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  border: none;

  &:hover {
    background-color: #4ab8eb;
    background-size: 100% 100%;
  }

  &-home-form {
    background-color: $colour-secondary;
    margin-top: 20px;
  }
  &-signup {
    max-width: 300px;
    margin-top: 20px;

    &:hover {
      background-color: #2ae8e8;
      background-size: 100% 100%;
    }
  }

  &-profile-card {
    border-radius: 5px;
  }
}
